@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #fffcf0;
  --color-base-200: #f2f0e5;
  --color-base-300: #e6e4d9;
  --color-base-content: rgb(16, 15, 15);
  --color-primary: rgb(94, 64, 157);
  --color-primary-content: oklch(94% 0.029 294.588);
  --color-secondary: rgb(206, 93, 151);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: rgb(58, 169, 159);
  --color-accent-content: oklch(95% 0.051 180.801);
  --color-neutral: rgb(67, 133, 190);
  --color-neutral-content: oklch(95% 0.026 236.824);
  --color-info: rgb(32, 94, 166);
  --color-info-content: oklch(93% 0.032 255.585);
  --color-success: rgb(135, 154, 57);
  --color-success-content: oklch(96% 0.067 122.328);
  --color-warning: rgb(208, 162, 21);
  --color-warning-content: oklch(97% 0.071 103.193);
  --color-error: rgb(209, 77, 65);
  --color-error-content: oklch(94% 0.03 12.58);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
